
@{
    ViewData["Title"] = "Signup";
}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="img/stage_logo.png">
</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="~/img/stage_logo.png" alt="language" width="30px" height="30px" style="margin-right: 10px;">
            <a class="navbar-brand" href="#">S T A G E</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="account" asp-action="contact">Contact<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="publicpages" asp-action="policy">Policy<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">About Stage</a>
                            <a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">Our message</a>
                            <a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="service">Services</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"></a>
                            </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="~/img/lang.png" alt="language" width="25px" height="25px"> Lannguage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="index_ar.html">العربية</a>
                            <a class="dropdown-item" href="#">English</a>
                            <a class="dropdown-item" href="#">German</a>
                            <a class="dropdown-item" href="#">Spanish</a>
                            <a class="dropdown-item" href="#">French</a>
                            <a class="dropdown-item" href="#">hindi</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"></a>
                            </div>
                    </li>

                </ul>

            </div>


            <form class="form-inline">
                <a class="btn btn-outline-primary my-2 my-sm-0" asp-area="" asp-controller="account" asp-action="Signup" style="margin-right: 10PX;">
                    New
                    Account
                </a>
                <a class="btn btn-outline-primary my-2 my-sm-0" asp-area="" asp-controller="account" asp-action="login">Login</a>
                @*href="../Views/accounts/login.cshtml"

                *@
            </form>

        </nav>
    </div>


    <br><br><br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div style="height: 120vh;" class="shadow-lg p-3 mb-5 bg-light rounded">
                <br>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-5"></div>
                    <div class="text-center mb-3">
                        <h1 style="color: blue;">Join US</h1>

                    </div>

                </div>
                <div class="row">

                    <div class="text-center" style="margin: 15px auto;">
                        <span style="color: red;text-align: center;font-size: 18px;">Note : Please Enter Your Data By English Language</span>

                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="username">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="email">
                        </div>
                    </div>
                </div>
                <br><br>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="Country">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="City">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg">
                            <option selected disabled>Gender</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="phone number">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="Your Lannguage">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group">
                            <div class="custom-file">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Add you image</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg">
                            <option selected disabled>Choose Language</option>
                            <option>English</option>
                            <option>Arabic</option>
                            <option>German</option>
                            <option>Spanish</option>
                            <option>French</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg">
                            <option selected disabled>Choose Subject</option>
                            <option>Medicine</option>
                            <option>Scince</option>
                            <option>Engineering</option>
                            <option>literature</option>
                            <option>Space Scince</option>
                        </select>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="Work">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="date" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="Your birthday">
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg" placeholder="Repeat your password">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Sign in</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <h5>or <a href="login.html">Log in</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</body>

</html>

