
@{
    ViewData["Title"] = "profile";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="~/img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="~/img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="~/img/stage_logo.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
</head>
@*oncontextmenu="return false;"*@
<body >

   <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" style="background-color: #333333;">
        <div class="row">
       
               <img src="~/img/unkown.png"  t="Facebook" title="Person" width="100" height="100"
                    style="margin:25px auto;">
        </div>            
        <div class="row">
          <a class="nav-link" href="#" style=" margin: auto; "> <span class="" style="color: white;">Edit
              Profile</span></a>
        </div>
        <div class="row">
          <a class="nav-link" href="#" style=" margin: auto; "> <span class="" style="color: white;">User
              Name</span></a>
        </div>
        <hr class="bg-light">
        <div class="row container" style="color:white">
            <div class="col-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-half" viewBox="0 0 16 16">
             <path d="M8 2.748v11.047c3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            </div>
            <div class="col-3 mr-4" style="" >
            <span style="text-align:center"> Favorite  </span>
            </div>
            <div class="col-3">
           <span style="text-align:center">0</span>
            </div>

            
            <br />
              <br />
        </div>
                <div class="row container" style="color:white">
            <div class="col-3">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
  <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
  <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
</svg>
            </div>
            <div class="col-3 mr-4" style="" >
            <span style="text-align:center">Saving</span>
            </div>
            <div class="col-3">
           <span style="text-align:center">0</span>
            </div>

            <br />
              <br />
        </div>
                <div class="row container" style="color:white">
            <div class="col-3">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
  <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
</svg>
            </div>
            <div class="col-3 mr-4" style="" >
            <span style="text-align:center"> Reading</span>
            </div>
            <div class="col-3">
           <span style="text-align:center">0</span>
            </div>



        </div>
         <hr class="bg-light">

        <div class="row container" style="color:white">
           <div class="col-1 mr-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
              <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
             </svg>
           </div>
           <div class="col-8">
             <span style="text-align:left">Your Points</span>
           </div>
            <div class="col-1">
             <span style="text-align:center">0</span>
            </div>
        </div>
        <br />

       <div class="row container" style="color:white">
           <div class="col">
             <button class="btn btn-success w-100">
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                 </svg>
                 More Points
             </button>
           </div>
        </div>
          <hr class="bg-light">
           <hr class="bg-light">
      </div>

      <div class="col-sm-10">
          <br />

          <h1>My Profile</h1>
        <!--fav start-->
        <div class="container-fluid" style="margin: 20px auto; ">
          <span style="margin-bottom: 15px;font-size: large;">Favourit Books</span>
        </div>
        <div class="container-fluid" style="margin: 20px auto; background-color:#DEDEDE;">


          <div class="row">
            <div class="card" style="width: 18rem; margin:7px">
              <img class="card-img-top" src="~/img/unknownbook.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Fav-->
        <hr>

        <div class="adv">
          اعلانات
        </div>

        <hr>
        <!--save start-->
        <div class="container-fluid" style="margin: 20px auto; ">
          <span style="margin-bottom: 15px;font-size: large;">Save</span>
        </div>
        <div class="container-fluid" style="margin: 20px auto; background-color:#DEDEDE;">


          <div class="row">
            <div class="card" style="width: 18rem; margin:7px">
              <img class="card-img-top" src="~/img/unknownbook.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End save-->
        <hr>

        <div class="adv">
        ...
        </div>

        <hr>
        <!--read start-->
        <div class="container-fluid" style="margin: 20px auto;">
          <span style="margin-bottom: 15px;font-size: large;">@Stage_Books.languages.Resource.Books`s Reading</span>
          </div>
           <div class="container-fluid" style="margin: 20px auto; background-color:#DEDEDE;">
             <div class="row">
             <div class="card" style="width: 18rem; margin:7px">
              <img class="card-img-top w-75" src="~/img/unknownbook.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End read-->
      </div>
    <!-- container -->
            <!-- Footer  -->

            <!-- -->
            <!-- Optional JavaScript; choose one of the two! -->
            <!-- Option 6: Bootstrap Bundle with Popper -->
            <script src="js/js.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>
      </div>
   </div>

</body>
</html>

