@model Stage_Books.Models.Book

@{
	ViewData["Title"] = "Create";
}
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/Admin/cssD/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="~/Admin/cssD/dataTables.bootstrap5.min.css" />
	<link rel="stylesheet" href="~/Admin/cssD/style.css" />
	<link rel="stylesheet" href="~/css/style.css" />
	<title>Stage Dashboard</title>
	<link rel="icon" href="~/img/stage_logo.png" type="" sizes="">
	<link rel="shortcut icon" href="~/img/stage_logo.png" type="" sizes="">
	<link rel="apple-touch-icon" href="~/img/stage_logo.png">
</head>

<body oncontextmenu="return false;">
	
	<div class="row">
		<div class="col-md-12">
			<form asp-action="Create" enctype="multipart/form-data">
				<div asp-validation-summary="All" class="text-danger"></div>
				<main class="mt-5 pt-3">
					<div class="container-fluid">
						<br>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<h3>Add new Book</h3>
							</div>
							<br />
						</div>
						<br>
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<h3>Basic Information : </h3>
							</div>
							<br />
						</div>
						<br>
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<input asp-for="Name" type="text" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" placeholder="Book Name">
									<span asp-validation-for="Name"></span>
								</div>
							</div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">   
									<select class="form-control form-select" aria-label="Sizing example input"   
										   id="selectauthor" aria-describedby="inputGroup-sizing-lg" onchange="authermore()" placeholder="Author" asp-for="AuthorID"
											asp-items="@(new SelectList(ViewBag.AllAuthors,"ID","Name")) ">
										<option disabled selected>Select Author</option>
									</select>
									<span ></span>
								</div>
							</div>
						</div>
						<div class="row">
					    	<div class="col-md-0"></div>
							  <div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">

								</div>
							</div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">   
									<input asp-for="AuthorID" type="text" class="form-control" aria-label="Sizing example input"
										   id="moreauther" aria-describedby="inputGroup-sizing-lg" placeholder="">
									<span ></span>
								</div>
							</div>
							</div>
			
							<br />
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<input asp-for="Publisher" type="text" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" placeholder="Publisher">
									<span asp-validation-for="Publisher"></span>
								</div>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								<span>Rate : </span>
							</div>
					    	<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<input type="number" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" readonly value="0" min="0">
									<span ></span>
								</div>
							</div>
						</div>
						<br />
				     	<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-10 mb-6">
								<div class="input-group input-group-lg">
									<textarea asp-for="Desc" type="text" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" placeholder="Book describtion"></textarea>
									<span asp-validation-for="Desc"></span>
								</div>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<input asp-for="Topic" type="text" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" placeholder="Book Tobic">
									<span asp-validation-for="Topic"></span>
								</div>
							</div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<select asp-for="Rights" class="form-control form-select" aria-label="Sizing example input"
											aria-describedby="inputGroup-sizing-lg" required>
										<option value="">Property rights</option>
										<option>Yes</option>
										<option>No</option>
									</select>
									<span asp-validation-for="Rights"></span>
								</div>
							</div>
						</div>
						<div class="row">
					    	<div class="col-md-0"></div>
							  <div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<input asp-for="Pages" type="number" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" placeholder="Pages">
									<span asp-validation-for="Pages"></span>
								</div>
							</div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<select asp-for="Category" class="form-control form-select" aria-label="Sizing example input"
											aria-describedby="inputGroup-sizing-lg" id="catselect" onchange="cataddmore()" required>
										<option disabled selected>Select Category</option>
										<option value="0">Medicine</option>
										<option  value="1" >sciences</option>
										<option  value="2">Engineering</option>
										<option  value="3">literature</option>
										<option  value="4">space scince</option>
									</select> 
									<span asp-validation-for="Category"></span>
						
									
								</div>
							</div>

						   <!-- The Modal -->
@*                            <div id="myModalcat" class="modalcat container-fluid" >
							   <!-- Modal content -->
							   	<div class="modal-contentcat container" style="width:50%">
							      <span class="closecat">&times;</span>
							      <p>Set Categoryis..</p>
								  <input type="text" id="" name="" value="" />
								  <br />
								  <a class="btn btn-danger" id="">Save</a>
								 </div>
							</div>
						</div>*@
						<div class="row">
					    	<div class="col-md-0"></div>
							  <div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">

								</div>
							</div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<input asp-for="Category" type="text" class="form-control" aria-label="Sizing example input"
										   id="morecat" aria-describedby="inputGroup-sizing-lg" placeholder="">
									<span asp-validation-for="Category"></span>
								</div>
							</div>
							</div>
							<div class="row">
							   <div class="col-md-0"></div>
								<div class="col-md-5 mb-3">
									<div class="input-group input-group-lg">
								      <span>Publisher Date :</span>
							        </div>  
								</div>
								<div class="col-md-5 mb-3">
							    	<div class="input-group input-group-lg">
									<input asp-for="PubDate" type="date" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg">
									<span asp-validation-for="PubDate"></span>
								</div>
								</div>
							</div>
							<br />
						 <div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
								   <span style="text-align:center">Upload Date :</span>
							</div>
						</div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<input  type="date" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" >
									<span ></span>
								</div>
							</div>
						
						</div>
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								<div class="input-group input-group-lg">
									<select asp-for="Language" class="form-control form-select" aria-label="Sizing example input"
											aria-describedby="inputGroup-sizing-lg" required>
										<option value="">Language</option>
										<option>Arabic</option>
										<option>English</option>
										<option>German</option>
										<option>Spanish</option>
										<option>Hindi</option>
									</select>
									<span asp-validation-for="Language"></span>
									<a class="btn btn-primary" id="myBtn">+</a>
								</div>
								
							</div>

							<div class="col-md-5 mb-3">

							</div>
						</div>
						
								 <!-- The Modal -->
                            <div id="myModal" class="modal container-fluid" >
								  <!-- Modal content -->
							    	<div class="modal-content container" style="width:50%">
							      <span class="close">&times;</span>
							      <p>Set Language..</p>
								  <input type="text" id="" name="" value="" />
								  <br />
								  <a class="btn btn-primary" id="">Save</a>
								 </div>
							</div>
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								<label asp-for="ImageURL"></label>
								<input type="file" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg" placeholder="Choose Image" name="imageFile" id="imageFile" accept=".png,.jpg" onchange="AddImage()">
							</div>
							<div class="col-md-5 mb-3">

								<div class="input-group input-group-lg">
									<img width="200" height="200" src="" id="bookImage" />
								</div>
							</div>
						</div>
						<br><br><br>
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								<label asp-for="BookURLS"></label>
								<input asp-for="BookURLS" type="file" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg" placeholder="Select Book" name="bookFile" id="bookFile" accept=".doc,.docx" >
								<span asp-validation-for="BookURLS"></span>
							</div>
						</div>
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								<span class="me-2">Choose Word File "Index"</span>
								<br />
								<input type="file" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg" placeholder="Choose Word File">
							</div>
						</div>
						<br><br><br>
					    <div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<h3>Book File : </h3>
							</div>
							<br />
						</div>
						<br>
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5 mb-3">
								...
								<span class="me-2">Choose Word File</span>
								<input type="file" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg" placeholder="Choose Word File">
							</div>
						</div>
						<br><br><br>
						<div class="row">
							<div class="col-md-0"></div>
							<div class="col-md-5">
								<button style="width: 170px;" type="submit" class="btn btn-primary btn-lg">Add</button>
							</div>
							<div class="col-md-5">
								<a class="btn btn-danger" style="width: 170px;" asp-action="Index">Back to List</a>
							</div>
							<br />
						</div>

						<br />
					   <div class="row">
							<div class="col-md-0"></div>

							<br />
						</div>
					</div>
					<br />
				</main>
			</form>
		</div>
	</div>


	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
					aria-controls="offcanvasExample">
				<span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
			</button>
			<img src="~/img/stage_logo.png" alt="language" width="30" height="30"
				 style="margin-right: 10px;margin-left: 5px;">
			<a class="navbar-brand" href="index.html">S T A G E</a>

			<a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#"></a>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="index.html">Home <span class="sr-only"></span></a>
					</li>

					<li class="nav-item active">
						<a class="nav-link" href="contact.html">Contact<span class="sr-only"></span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="policy.html">Policy<span class="sr-only"></span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							About
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item">About Stage</a>
							<a class="dropdown-item" href="#">Our message</a>
							<a class="dropdown-item" href="#">Services</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							<i class="bi bi-globe"></i> Lannguage
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">العربية</a>
							<a class="dropdown-item" href="#">English</a>
							<a class="dropdown-item" href="#">German</a>
							<a class="dropdown-item" href="#">Spanish</a>
							<a class="dropdown-item" href="#">French</a>
							<a class="dropdown-item" href="#">hindi</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>

				</ul>

			</div>


			<form class="form-inline">
				<a href="login.html" class="btn btn-outline-primary my-2 my-sm-0" style="margin-right: 10PX;">Log out</a>
			</form>

		</nav>
	</div>
	<!-- top navigation bar -->
	<!-- offcanvas -->
	<div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
		<div class="offcanvas-body p-0">
			<nav class="navbar-dark">
				<ul class="navbar-nav">
					<li>
						<div class="text-muted small fw-bold text-uppercase px-3">
							CORE
						</div>
					</li>
					<li>
						<a href="#" class="nav-link px-3 active"
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
			  <span>Dashboard</span>
			</a>
					</li>
					<li class="my-4">
						<hr class="dropdown-divider bg-light" />
					</li>
					<li>
						<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
							Books
						</div>
					</li>
					<li>
						<a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts">
							<span class="me-2"><i class="bi bi-layout-split"></i></span>
							<span>Manage Books</span>
							<span class="ms-auto">
								<span class="right-icon">
									<i class="bi bi-chevron-down"></i>
								</span>
							</span>
						</a>
						<div class="collapse" id="layouts">
							<ul class="navbar-nav ps-3">
								<li>
									<a href="~/Admin/Edit/Edit" class="nav-link px-3">
										<span class="me-2"><i class="bi bi-pencil-square"></i></span>
										<span>Edit Books</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="../Books/Create" class="nav-link px-3">
							<span class="me-2"><i class="bi bi-book-fill"></i></span>
							<span>Add Book</span>
						</a>
					</li>
					<li class="my-4">
						<hr class="dropdown-divider bg-light" />
					</li>
					<li>
						<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
							Users
						</div>
					</li>
					<li>
						<a href="~/Admin/Users/Users" class="nav-link px-3">
							<span class="me-2"><i class="bi bi-person-fill"></i></span>
							<span>Manage Users</span>
						</a>
					</li>
					<li>
						<a href="~/Admin/AddUser/AddUser" class="nav-link px-3">
							<span class="me-2"><i class="bi bi-plus-circle"></i></span>
							<span>Add Users</span>
						</a>
					</li>
					<li class="my-4">
						<hr class="dropdown-divider bg-light" />
					</li>
					<li>
						<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
							Other
						</div>
					</li>
					<li>
						@* href="../Views/Contactmsgs/Delete" *@
						<a href="../Contactmsgs/index" class="nav-link px-3">
							<span class="me-2"><i class="bi bi-envelope"></i></span>
							<span>Users Messages</span>
						</a>
					</li>
					<li>
						<a class="nav-link px-3">
							<span class="me-2"><i class="bi bi-bug"></i></span>
							<span>Errors Messages</span>
						</a>
					</li>
					<li>
					</li>
					<li>
						<a href="~/Admin/index_ocr/index_ocr" class="nav-link px-3">
							<span class="me-2"><i class="bi bi-plus-square"></i></span>
							<span>Add Encyclopedia</span>
						</a>
					</li>
					<li>
						<a href="~/Admin/bu/bu" class="nav-link px-3">
							<span class="me-2"><i class="bi bi-credit-card-2-front"></i></span>
							<span>Edit Encyclopedia</span>
						</a>
					</li>
					<li class="my-4">
						<hr class="dropdown-divider bg-light" />
					</li>
					<li>
						<div class="text-muted small fw-bold text-uppercase px-3 mb-3">
							Other
						</div>
					</li>
					<li>
						<a href="~/Admin/index_ocr/index_ocr" class="nav-link px-3">
							<span class="me-2"><i class="bi bi-journal-text"></i></span>
							<span>OCR</span>
						</a>
					</li>
					<li>
						<a href="~/Admin/bu/bu" class="nav-link px-3">
							<span class="me-2"><i class="bi bi-hdd"></i></span>
							<span>Back UP</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<script src="~/Admin/jsD/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
	<script src="~/Admin/jsD/jquery-3.5.1.js"></script>
	<script src="~/Admin/jsD/jquery.dataTables.min.js"></script>
	<script src="~/Admin/jsD/dataTables.bootstrap5.min.js"></script>
	<script src="~/Admin/jsD/script.js"></script>
	<script src="~/Admin/js/js.js"></script>
	<script src="../wwwroot/js/js.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
</body>

</html>

@section Scripts {
<script>
	//js for more category in one input
	function cataddmore()
	{
	var e = document.getElementById("catselect");
	var i = e.selectedIndex;
	var a = document.getElementById("morecat")
    a.value +=  " " + e.options[i].text + " " + "|";
	}
		//js for more Authers in one input  
	function authermore()
	{
	var e = document.getElementById("selectauthor");
	var i = e.selectedIndex;
	var a = document.getElementById("moreauther")
    a.value +=  " " + e.options[i].text + " " + "|";
	}


		   function AddImage()
		   {
		   document.getElementById('bookImage').src= window.URL.createObjectURL(document.getElementById('imageFile').files[0])
	       }
	    // Get the modal
         var modal = document.getElementById("myModal");

       // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
       var span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal 
      btn.onclick = function () 
	  {
      modal.style.display = "block";
       }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function ()
	  {
       modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
     }
	 //****************** */

	    // Get the modal
         var modalcat = document.getElementById("myModalcat");

       // Get the button that opens the modal
        var btncat = document.getElementById("myBtncat");

      // Get the <span> element that closes the modal
       var spancat = document.getElementsByClassName("closecat")[0];

      // When the user clicks the button, open the modal 
      btncat.onclick = function () 
	  {
      modalcat.style.display = "block";
       }

      // When the user clicks on <span> (x), close the modal
      spancat.onclick = function ()
	  {
       modalcat.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
      if (event.target == modalcat) {
        modalcat.style.display = "none";
      }
     }
</script>
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
