@model Stage_Books.Models.Book

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Edit";
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="Edit" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-3">
					<br />
					<div asp-validation-summary="All" class="text-danger mt-5"></div>
					<input type="hidden" asp-for="ID" />
					<input type="hidden" asp-for="ImageURL" />
				</div>
			</div>

			<main class="mt-5 pt-3">
				<div class="container-fluid">
					<br>
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-6">
							<h1 class="text-success">Add new Book</h1>
						</div>
						<br />
					</div>
					<br>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-6">
							<h3 class="text-primary">Basic Information : </h3>
						</div>
						<br />
					</div>
					<br>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="Name"></span>
							<div class="input-group input-group-lg">
								<input asp-for="Name" type="text" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg" placeholder="Book Name">

							</div>
						</div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="AuthorID"></span>
							<div class="input-group input-group-lg">
								<select class="form-control form-select" aria-label="Sizing example input"
										id="selectauthor" aria-describedby="inputGroup-sizing-lg" onchange="authermore()" placeholder="Author" asp-for="AuthorID"
										asp-items="@(new SelectList(ViewBag.AllAuthors,"ID","Name")) ">
									<option disabled selected>Select Author</option>
								</select>
								<span></span>
							</div>
						</div>
						<div class="col-md-4">
							<input asp-for="AuthorID" type="text" class="form-control" aria-label="Sizing example input"
								   id="moreauther" aria-describedby="inputGroup-sizing-lg" placeholder="">
							<span></span>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="Publisher"></span>
							<div class="input-group input-group-lg">
								<input asp-for="Publisher" type="text" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg" placeholder="Publisher">

							</div>
						</div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="Language"></span>
							<div class="input-group input-group-lg">
								<select asp-for="Language" class="form-control form-select" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-lg" required>
									<option value="">Language</option>
									<option>Arabic</option>
									<option>English</option>
									<option>German</option>
									<option>Spanish</option>
									<option>Hindi</option>
								</select>

								<a class="btn btn-primary" id="myBtn">+</a>
							</div>
						</div>
						<div id="myModal" class="modal container-fluid">
							<!-- Modal content -->
							<div class="modal-content container" style="width:50%">
								<span class="close">&times;</span>
								<p>Set Language..</p>
								<input type="text" id="" name="" value="" />
								<br />
								<a class="btn btn-primary" id="">Save</a>
							</div>
						</div>
					</div>
					<br />
					
					<br />

					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="Topic"></span>
							<div class="input-group input-group-lg">
								<input asp-for="Topic" type="text" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg" placeholder="Book Tobic">

							</div>
						</div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="Rights"></span>
							<div class="input-group input-group-lg">
								<select asp-for="Rights" class="form-control form-select" aria-label="Sizing example input"
										aria-describedby="inputGroup-sizing-lg" required>
									<option value="">Property rights</option>
									<option>Yes</option>
									<option>No</option>
								</select>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="Pages"></span>
							<div class="input-group input-group-lg">
								<input asp-for="Pages" type="number" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg" placeholder="Pages">

							</div>
						</div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="CategoryID"></span>
							<div class="input-group input-group-lg">
								<select class="form-control form-select" aria-label="Sizing example input"
										id="selectauthor" aria-describedby="inputGroup-sizing-lg" onchange="cataddmore()" required placeholder="تصنيف" asp-for="CategoryID"
										asp-items="@(new SelectList(ViewBag.AllCat,"id","Name")) ">
									<option disabled selected>اختار تصنيف </option>
								</select>
								<span></span>
							</div>
						</div>
						<div class="col-md-4">
							<span class="text-danger" asp-validation-for="Category"></span>
							<div class="input-group input-group-lg">
								<input asp-for="Category" type="text" class="form-control" aria-label="Sizing example input"
									   id="morecat" aria-describedby="inputGroup-sizing-lg" placeholder="">

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-3 mb-3">
							<div class="input-group input-group-lg">
								<span style="font-size:xx-large">Publish Date :</span>
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="PubDate"></span>
							<div class="input-group input-group-lg">
								<input asp-for="PubDate" type="date" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg">

							</div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-3 mb-3">
							<div class="input-group input-group-lg">
								<span style="font-size:xx-large">Upload Date :</span>
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<span class="text-danger" asp-validation-for="UploadDate"></span>
							<div class="input-group input-group-lg">
								<input asp-for="UploadDate" type="date" class="form-control" aria-label="Sizing example input"
									   aria-describedby="inputGroup-sizing-lg">
								<span></span>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-6 mb-6">
							<span class="text-danger" asp-validation-for="Desc"></span>
							<div class="input-group input-group-lg">
								<textarea asp-for="Desc" type="text" style="height:25vh" class="form-control" aria-label="Sizing example input"
										  aria-describedby="inputGroup-sizing-lg" placeholder="Book describtion"></textarea>

							</div>
						</div>
					</div>

					<!-- The Modal -->

					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-4">
							<div class="row">
								<span class="text-danger" asp-validation-for="BookURLS"></span>
								<div class="col-md-9 mb-3">
									<label asp-for="BookURLS">Choose the Book</label>
									<input asp-for="BookURLS" type="file" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" placeholder="Select Book" name="bookFile" id="bookFile" accept=".doc,.docx">

								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-9 mb-3">
									<span class="text-danger" asp-validation-for="BookIndex"></span>
									<span class="me-2">Choose Book Index</span>
									<br />
									<input asp-for="BookIndex" type="file" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" placeholder="Choose Word File" accept=".doc,.docx">
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-9 mb-3">
									<span class="me-2">Choose Book Intro</span>
									<br />
									<input asp-for="BookIntro" type="file" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" placeholder="Choose Word File" accept=".doc,.docx">
								</div>
							</div>
							<div class="row">
								<div class="col-md-9 mb-3">
									<label asp-for="ImageURL"></label>
									<input type="file" class="form-control" aria-label="Sizing example input"
										   aria-describedby="inputGroup-sizing-lg" placeholder="Choose Image" name="imageFile" id="imageFile" accept=".png,.jpg" onchange="AddImage()">
								</div>
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<div class="input-group input-group-lg">
								<img width="250" height="300" src="@Html.DisplayFor(book =>book.ImageURL)" id="bookImage" />
							</div>
						</div>
					</div>
					<br>
					<br><br><br>
					<div class="row">
						<div class="col"></div>
						<div class="col">
							<button style="width: 170px;" type="submit" class="btn btn-primary btn-lg">Save</button>
							<br />
							<hr />
							<a style="width: 170px;" class="btn btn-success" asp-action="Index">Back to List</a>
						</div>
						<br />
						<div class="col">
						</div>
						<br />

					</div>

					<br />
				</div>
				<br />
			</main>
		</form>
	</div>
</div>

@section Scripts {
<script>
		   function AddImage(){
		   document.getElementById('bookImage').src= window.URL.createObjectURL(document.getElementById('imageFile').files[0])
	}
</script>
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
