@model Stage_Books.Models.Encyclopedia.Enc

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Edit";
}
<br />
<br />
<br />

<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-8">
			<h2>Edit</h2>

			<h4>Encyclopedia</h4>

			<hr />
			<div class="row">
				<div class="col-md-12">
					<form asp-action="Edit" enctype="multipart/form-data">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="id" />

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Name" class="control-label"></label>
									<br />
									<input asp-for="Name" class="form-control" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="FullName" class="control-label"></label>
									<br />
									<input asp-for="FullName" class="form-control" />
									<span asp-validation-for="FullName" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Description" class="control-label"></label>
									<br />
									<input asp-for="Description" class="form-control" />
									<span asp-validation-for="Description" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Category" class="control-label"></label>
									<br />
									<input asp-for="Category" class="form-control" />
									<span asp-validation-for="Category" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Store" class="control-label"></label>
									<br />
									<textarea asp-for="Store" class="form-control" rows="10"></textarea>
									<span asp-validation-for="Store" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Poster" class="control-label"></label>
									<br />
									<input type="file" asp-for="Poster" class="form-control" />
									<span asp-validation-for="Poster" class="text-danger"></span>
								</div>
							</div>
						</div>

						<br />
						<div class="form-group">
							<input type="submit" value="Save" class="btn btn-success" />
						</div>
					</form>
				</div>
				<br />

				<div>
					<a asp-action="Index" class="btn btn-warning">Back to List</a>
				</div>
			</div>
		</div>
	</div>
</div>

