@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<br />
<div class="text-center">
	<h1 style="margin-left:10px">All Books</h1>
</div>
<br />
<div class="container">

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<h1>Welcome in Dashboard Here you can manage any thing in Stage depends on your role </h1>
			<h2>Heads Up !!</h2>
		</div>
	</div>


</div>