@model Stage_Books.Models.Antiques

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Edit";
}

<br />
<br />
<br />

<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-8">
			<h2>Edit</h2>

			<h4>Antiques</h4>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<form asp-action="Edit" enctype="multipart/form-data">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="id" />
						<input type="hidden" asp-for="imageurl" />
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Name" class="control-label"></label>
									<input asp-for="Name" class="form-control" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="date" class="control-label"></label>
									<input asp-for="date" class="form-control" />
									<span asp-validation-for="date" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="madein" class="control-label"></label>
									<input asp-for="madein" class="form-control" />
									<span asp-validation-for="madein" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="creator" class="control-label"></label>
									<input asp-for="creator" class="form-control" />
									<span asp-validation-for="creator" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="owner" class="control-label"></label>
									<input asp-for="owner" class="form-control" />
									<span asp-validation-for="owner" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="ownercerti" class="control-label"></label>
									<input asp-for="ownercerti" class="form-control" />
									<span asp-validation-for="ownercerti" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="imageurl" class="control-label"></label>
									<input type="file" asp-for="imageurl" class="form-control" name="imageFile" id="imageFile" accept=".png,.jpg" onchange="AddImage()" />
									<span asp-validation-for="imageurl" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="des" class="control-label"></label>
									<input asp-for="des" class="form-control" />
									<span asp-validation-for="des" class="text-danger"></span>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="input-group input-group-lg">
									<img width="250" height="300" src="@Html.DisplayFor(book =>book.imageurl)" id="bookImage" />
								</div>
							</div>
							<div class="col-md-6"></div>
						</div>



						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="info" class="control-label"></label>
									<input asp-for="info" class="form-control" />
									<span asp-validation-for="info" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="note" class="control-label"></label>
									<input asp-for="note" class="form-control" />
									<span asp-validation-for="note" class="text-danger"></span>
								</div>
							</div>
						</div>






						<br />

						<div class="form-group">
							<input type="submit" value="Save" class="btn btn-success" />
						</div>
					</form>
				</div>
			</div>

			<div>
				<a asp-action="Index">Back to List</a>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		function AddImage() {
			document.getElementById('bookImage').src = window.URL.createObjectURL(document.getElementById('imageFile').files[0])
		}
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}