
@**********************************************@
@model Stage_Books.Models.Issuance
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		   <h2 style="text-align:center"> اضافة اصدار</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
            <div class="col-6">
            <div class="form-group">
                <label asp-for="Issuancedate" class="control-label"></label>
                <input asp-for="Issuancedate" class="form-control" />
                <span asp-validation-for="Issuancedate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="IssuanceNumber" class="control-label"></label>
                <input asp-for="IssuanceNumber" class="form-control" />
                <span asp-validation-for="IssuanceNumber" class="text-danger"></span>
            </div>
            <br />
            </div>
            <div class="col-6">
             <div class="form-group">
                <label asp-for="Nid" class="control-label"></label>
@*                <select asp-for="Nid" class="form-control">
                    <option></option>
                </select>*@
                <select class="form-control form-select" aria-label="Sizing example input"
										id="selectauthor" aria-describedby="inputGroup-sizing-lg" onchange="authermore()" placeholder="الجريدة" asp-for="Nid"
										asp-items="@(new SelectList( ViewBag.graied,"Nid","Name")) ">
						<option disabled selected> </option>
				</select>
                <span asp-validation-for="Nid" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="note" class="control-label"></label>
                <input asp-for="note" class="form-control" />
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" /> |
                <a asp-action="Index">Back to List</a>
            </div>
            <br />
            </div>
            </div>
        </form>
			<br />
			<br />
		</div>
		<br />
	</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
