@model Stage_Books.Models.AdvRequest

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Edit";
}
<br />
<br />
<br />
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-8">
			<h2>Edit</h2>

			<h4>AdvRequest</h4>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<form asp-action="Edit">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<input type="hidden" asp-for="id" />
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Name" class="control-label"></label>
									<input asp-for="Name" class="form-control" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Phone" class="control-label"></label>
									<input asp-for="Phone" class="form-control" />
									<span asp-validation-for="Phone" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="OtherWay" class="control-label"></label>
									<input asp-for="OtherWay" class="form-control" />
									<span asp-validation-for="OtherWay" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="DateRequest" class="control-label"></label>
									<input asp-for="DateRequest" class="form-control" />
									<span asp-validation-for="DateRequest" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="BookName" class="control-label"></label>
									<input asp-for="BookName" class="form-control" />
									<span asp-validation-for="BookName" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Description" class="control-label"></label>
									<input asp-for="Description" class="form-control" />
									<span asp-validation-for="Description" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Author" class="control-label"></label>
									<input asp-for="Author" class="form-control" />
									<span asp-validation-for="Author" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Topic" class="control-label"></label>
									<input asp-for="Topic" class="form-control" />
									<span asp-validation-for="Topic" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Language" class="control-label"></label>
									<input asp-for="Language" class="form-control" />
									<span asp-validation-for="Language" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Price" class="control-label"></label>
									<input asp-for="Price" class="form-control" />
									<span asp-validation-for="Price" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="PlaceBook" class="control-label"></label>
									<input asp-for="PlaceBook" class="form-control" />
									<span asp-validation-for="PlaceBook" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="LongTime" class="control-label"></label>
									<input asp-for="LongTime" class="form-control" />
									<span asp-validation-for="LongTime" class="text-danger"></span>
								</div>
							</div>
						</div>



						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Start" class="control-label"></label>
									<input asp-for="Start" class="form-control" />
									<span asp-validation-for="Start" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="End" class="control-label"></label>
									<input asp-for="End" class="form-control" />
									<span asp-validation-for="End" class="text-danger"></span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="BookCover" class="control-label"></label>
									<input asp-for="BookCover" class="form-control" />
									<span asp-validation-for="BookCover" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="BookFile" class="control-label"></label>
									<input asp-for="BookFile" class="form-control" />
									<span asp-validation-for="BookFile" class="text-danger"></span>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="BookFile" class="control-label"></label>
									<input asp-for="BookFile" class="form-control" />
									<span asp-validation-for="BookFile" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="UserId" class="control-label"></label>
									<select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
									<span asp-validation-for="UserId" class="text-danger"></span>
								</div>
							</div>
						</div>


						<br />

						<div class="form-group">
							<input  type="submit" value="Save" class="btn btn-success" />
						</div>
					</form>
				</div>
			</div>

			<div>
				<a asp-action="Index">Back to List</a>
			</div>
		</div>
	</div>
</div>



@****************************************@
