
@{
    ViewData["Title"] = "Book_Show";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="~/~/img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="~/~/img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="~/~/img/stage_logo.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet">

</head>
<body >
    <!-- oncontextmenu="return false;" -->

    <!--end nav bar -->
    <!--fav start-->
    <!-- container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" style="background-color: #333333;">
                <div class="row" style="margin:10px auto;">
                    <label style="color: white;">Rate Book</label>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                      <div class="col-sm-2">
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                                        <div class="col-sm-2">
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                                        <div class="col-sm-2">
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                     <div class="col-sm-2" >
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                </div>
                <hr class="hrstyle">

                <div class="row" style="margin:0px auto">
                    <a class="nav-link" href="#" style="color:white">
                        To My Favourit
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z"/>
                       </svg>
                    </a>
                </div>
                <div class="row" style="margin:0px auto">
                    <a class="nav-link" href="#" style="color:white">
                        Save To Profile
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                      <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                      <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                      </svg>
                    </a>
                    <br />
                     <br />
        
                    <button class="btn btn-info w-75">My Profile</button>
                </div>
                <hr class="hrstyle">
                <div class="row">
                    <div class="form-group" style="margin:0px auto">
                          <a class="nav-link" href="#" style=" margin: auto; "> <span class="" style="color: white;">Report a problem in Text </span></a>
                          <textarea class="form-control" style="resize:none;display:block;border:1px solid red;border-radius:15px" rows="6" cols="25"></textarea>
                          <br />
                          <button class="btn btn-danger w-100">Send</button>
                    </div>
                </div>
                <hr class="hrstyle">
                <div class="row">
                    <a class="nav-link" href="#" style=" margin: auto; "> <span class="" style="color: white;">Services  </span></a>
                </div>
                <hr class="hrstyle">
                <div class="row">
                    <a class="nav-link" href="#" style=" margin: auto; "> <span class="" style="color: white;">Translate </span></a>
                </div>
                <hr class="hrstyle">
                <hr class="hrstyle">

            </div>

            <div class="col-sm-10">
                <div class="container-fluid" style="margin: 20px auto; background-color:#DEDEDE;">
                    <div class="row" style="margin:20px auto;">
                        <div>
                            <h3>Book name</h3>
                        </div>
                    </div>
                    <div class="row" style="margin: auto;">
                        <div class="col">
                            <span>Book info</span>
                        </div>
                    </div>
                    <div class="row" style="margin: auto;">


                        <div class="row" style="margin: auto;">
                            <div class="col" style="text-align: center; padding: 10px; margin: 15px; ">
                                <span style="color: #333333; font-size: 1.5rem;">Search For Any Word in Book</span>
                                <form class="form-block" style="padding: 15px;">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1" style="background-color: #c4c4c4;"><img src="~/img/search.png" alt="search" width="25" height="25"></span>
                                        </div>
                                        <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" value="" name="" style="background-color: #c4c4c4;">
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

     <div class="container-fluid">
        <div class="row">
             <!--num lines -->
             <div class="col-1">
                <div class="row" style="margin: auto;">
                     <div style="margin: auto; text-align: center;" class="row">
                          <div class="" style="background-color: white; border: 1px solid #33b5e5; border-radius: 10px; margin: 25px 0px; width: 60px;">
                                <br>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">1</span></a>
                                <a href="#"> <span id="l2" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">2</span></a>
                                <a href="#"> <span id="l3" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">3</span></a>
                                <a href="#"> <span id="l4" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">4</span></a>
                                <a href="#"> <span id="l5" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">5</span></a>
                                <a href="#"> <span id="l6" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">6</span></a>
                                <a href="#"> <span id="l7" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">7</span></a>
                                <a href="#"> <span id="l8" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">8</span></a>
                                <a href="#"> <span id="l9" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">9</span></a>
                                <a href="#"> <span id="l10" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">10</span></a>
                                <a href="#"> <span id="l11" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">11</span></a>
                                <a href="#"> <span id="l12" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">12</span></a>
                                <a href="#"> <span id="l13" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">13</span></a>
                                <a href="#"> <span id="l14" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">14</span></a>
                                <a href="#"> <span id="l15" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">15</span></a>
                                <a href="#"> <span id="l16" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">16</span></a>
                                <a href="#"> <span id="l17" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">17</span></a>
                                <a href="#"> <span id="l18" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">18</span></a>
                                <a href="#"> <span id="l19" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">19</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">20</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">21</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">22</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">23</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">24</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">25</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">26</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">27</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">28</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">29</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">30</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">31</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">32</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">33</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">34</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">35</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">36</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">37</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">38</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">39</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">40</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">41</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">42</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">43</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">44</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">45</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">46</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">47</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">48</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">49</span></a>
                                <a href="#"> <span id="l1" class="" style="color: #0099CC ;font-size: 17px; padding: 15px;">50</span></a>
                           </div>
                             <!--num lines -->
                     </div>
                </div>
             </div>
             <div class="col-11">
              <!-- book conainer -->
                <div readonly style="background-color:white;width:100%">
                    <label for="exampleFormControlTextarea1"> Book Contact</label>                          
                 </div>
             </div>
          
            
            </div>
<!--pajination -->
                  <div class="row" style="margin:0px auto;">
                      <nav aria-label="Page navigation example">
                           <ul class="pagination">
                               <li class="page-item">
                                   <a class="page-link" href="#" aria-label="Previous">
                                     <span aria-hidden="true">&laquo;</span>
                                   </a>
                               </li>
                               <li class="page-item"><a class="page-link" href="#">1</a></li>
                               <li class="page-item"><a class="page-link" href="#">2</a></li>
                               <li class="page-item"><a class="page-link" href="#">3</a></li>
                               <li class="page-item">
                               <a class="page-link" href="#" aria-label="Next">
                               <span aria-hidden="true">&raquo;</span>
                               </a>
                              </li>
                            </ul>
                      </nav>
                   </div>
                </div>
              </div>
            </div>
         </div>

    </div>
  




                    <!-- Option 6: Bootstrap Bundle with Popper -->
                    <script src="~/js/js.js"></script>
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>




