@model Stage_Books.Models.AudioBook

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
}
<br />
<br />
<br />
<br />
	<div class="row">
		<h2 style="text-align:center">اضافة كتاب صوتى جديد </h2>
			<br />
		    <br />
		<div class="col-3"></div>
		<hr />

         <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="container col-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                   </div>
            <br />
             <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="uploadDate" class="control-label"></label>
                <input asp-for="uploadDate" class="form-control" />
                <span asp-validation-for="uploadDate" class="text-danger"></span>
            </div>
             <br />
             <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <br />
            
             <div class="form-group">
                <label asp-for="PubDate" class="control-label"></label>
                <input asp-for="PubDate" class="form-control" />
                <span asp-validation-for="PubDate" class="text-danger"></span>
            </div>
            <br />
            
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
             <br />
             <div class="form-group">
                <label asp-for="Rights" class="control-label"></label>
                <input asp-for="Rights" class="form-control" />
                <span asp-validation-for="Rights" class="text-danger"></span>
            </div>
             <br />
             <div class="form-group">
                <label asp-for="path" class="control-label">ملف الكتاب</label>
                <input asp-for="path" class="form-control" name="audiofile" type="file" accept=".mp3,.mp4" />
                <span asp-validation-for="path" class="text-danger"></span>
            </div>
			<br />
             <div class="form-group">
					<label asp-for="ImageURL" class="control-label"></label>
					<input type="file" class="form-control" name="imageFile" id="imageFile" accept=".png,.jpg" onchange="AddImage()" />
			</div>
            <br />
					<div class="input-group input-group-lg">
						<img width="200" height="200" src="" id="AudioImage" />
					</div>

                     <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" /> |
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
                </div>

               
            </div>
            
            <br />
            <br />
            
        </form>

        </div>





  @section Scripts {
	<script>
		function AddImage(){
		document.getElementById('AudioImage').src= window.URL.createObjectURL(document.getElementById('imageFile').files[0])
                            }
	</script>
}





