
@*////////////////////////////////*@
@model Stage_Books.Models.paperssearcher

@{
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
     ViewData["Title"] = "Create";
}
<br />
<br />
<br />
<br />
	<div class="row">
		<h2 style="text-align:center">اضافة ورقة بحثية جديدة </h2>
			<br />
		    <br />
		<div class="col-3"></div>
		<hr />

        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container col-4">
			<br />
		    <div class="form-group">
                <label asp-for="searchername" class="control-label"></label>
                <input asp-for="searchername" class="form-control" />
                <span asp-validation-for="searchername" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="SerchName" class="control-label"></label>
                <input asp-for="SerchName" class="form-control" />
                <span asp-validation-for="SerchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="topic" class="control-label"></label>
                <input asp-for="topic" class="form-control" />
                <span asp-validation-for="topic" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="lang" class="control-label"></label>
                <input asp-for="lang" class="form-control" />
                <span asp-validation-for="lang" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PagesNumber" class="control-label"></label>
                <input asp-for="PagesNumber" class="form-control" />
                <span asp-validation-for="PagesNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="publishdate" class="control-label"></label>
                <input asp-for="publishdate" class="form-control" type="date"/>
                <span asp-validation-for="publishdate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" type="file" name="paperimg" accept=".png , .jpg"/>
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="url" class="control-label"></label>
                <input asp-for="url" class="form-control" type="file" name="paperfile" accept=".pdf , .html , .htm" />
                <span asp-validation-for="url" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="note" class="control-label"></label>
                <input asp-for="note" class="form-control" />
                <span asp-validation-for="note" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <br />
            </div>
        </form>
    </div>
    <br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
<br />