
@*@**********************************************@
@model Stage_Books.Models.magazinepages

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		   <h2 style="text-align:center"> تعديل بيانات مجلة</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			 <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-6">
            <div class="form-group">
                <label asp-for="pageNum" class="control-label"></label>
                <input asp-for="pageNum" class="form-control" />
                <span asp-validation-for="pageNum" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="magazincopysId" class="control-label"></label>
                <select asp-for="magazincopysId" class="form-control" asp-items="ViewBag.magazincopysId"></select>
                <span asp-validation-for="magazincopysId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="page" class="control-label"></label>
                <input asp-for="page" class="form-control" name="" type="file" accept=".png,.jpg"/>
                <span asp-validation-for="page" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" /> | 
                <a asp-action="Index">Back to List</a>
            </div>
                </div>
            </div>
        </form>
			<br />
			<br />
		</div>
		<br />
	</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
