.adv
{
    width: 80%;
    height: 80px;
    background-color: yellow;
    margin: auto;
    padding: 10px;
}
.bookName
{

    
    margin: auto;
    padding: 10px;
}
.bookName  h3
{
margin: auto;

}
.hrstyle
{
    color: white;
    background-color: white;
}
.pages
{
   
border-radius: 5px;
    border: 2px solid #007bff;
    background-color: #007bff;
    
}
.pages a 
{
    color: white;
}
.pages:hover
{
   

    border: 2px solid #333333;
    background-color: white;
    
}
.pages a :hover
{
    
    color: #333333;
}
.hh:hover
{
 content: H O M E;
 color: #007bff;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


/* The Modal (background) */
.modalcat {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentcat {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.closecat {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .closecat:hover,
    .closecat:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
