.adv
{
    width: 80%;
    height: 80px;
    background-color: yellow;
    margin: auto;
    padding: 10px;
}
.bookName
{

    
    margin: auto;
    padding: 10px;
}
.bookName  h3
{
margin: auto;

}
.hrstyle
{
    color: white;
    background-color: white;
}
.pages
{
   
border-radius: 5px;
    border: 2px solid #007bff;
    background-color: #007bff;
    
}
.pages a 
{
    color: white;
}
.pages:hover
{
   

    border: 2px solid #333333;
    background-color: white;
    
}
.pages a :hover
{
    
    color: #333333;
}
.hh:hover
{
 content: H O M E;
 color: #007bff;
}