
@{
    ViewData["Title"] = "Search";
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <meta name="keywords" content=" كتب عالمية مترجمة , مكتبة,اكبر مكتبة لتحميل الكتب مجانا,اكبر مكتبة كتب,كتب,أكبر مكتبة,اكبر مكتبة للكتب الاسلامية,اكبر مكتبة شخصية,اكبر مكتبة يوغي يو,اكبر مكتبة اسلامية,اكبر مكتبة في العالم,اكبر مكتبة في الجزائر,اكبر مكتبة شخصية في العالم,اكبر مكتبة اسلامية في العالم,مكتبة الكونغرس,اهم اكبر مكتبة كتب الكترونية في العالم لتحميل الكتب .,أكبر مكتبة في العالم ">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="img/stage_logo.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="img/stage_logo.png" alt="language" width="30px" height="30px" style="margin-right: 10px;">
            <a class="navbar-brand" href="#">S T A G E</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="contact.html">Contact<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="policy.html">Policy<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">About Stage</a>
                            <a class="dropdown-item" href="#">Our message</a>
                            <a class="dropdown-item" href="#">Services</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"></a>
                            </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="img/lang.png" alt="language" width="25px" height="25px"> Lannguage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="index_ar.html">العربية</a>
                            <a class="dropdown-item" href="#">English</a>
                            <a class="dropdown-item" href="#">German</a>
                            <a class="dropdown-item" href="#">Spanish</a>
                            <a class="dropdown-item" href="#">French</a>
                            <a class="dropdown-item" href="#">hindi</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"></a>
                            </div>
                    </li>

                </ul>

            </div>


            <form class="form-inline">
                <a href="Signup.html" class="btn btn-outline-primary my-2 my-sm-0" style="margin-right: 10PX;">
                    New
                    Account
                </a>
                <a href="login.html" class="btn btn-outline-primary my-2 my-sm-0">Login</a>
            </form>

        </nav>
    </div>


    <!-- big budy -->
    <div class="container-fluid">

    </div>
    <!-- search section -->
    <!--

        <div style="text-align: center; margin-top: 25px;">
         <nav class="navbar navbar-light bg-light">

        </nav>-->


    <div class="container-fluid">
        <!-- نبذة مختصرة عن ستيج  -->
        <div class="bg-light" style="text-align: center; margin-top: 25px; background-color:#DEDEDE; padding: 20px; padding-bottom: 40px;">
            <h5> Search</h5>
            <div class="container">
                <form class="form-block">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <img src="img/search.png" alt="search" width="25px"
                                     height="25px">
                            </span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search" aria-label="Search"
                               aria-describedby="basic-addon1" value="" name="">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- container -->
    <div class="container-fluid">
        <div class="row">
            <!--cat -->
            <div class="col-sm">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                    <h3>Category</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            اقسام الكتب
                        </a>
                        <a href="#" class="list-group-item list-group-item-action"> الكتب العلمية</a>
                        <a href="#" class="list-group-item list-group-item-action"> الكتب الادبية  </a>
                        <a href="#" class="list-group-item list-group-item-action"> الكتب الدينية</a>
                        <a href="#" class="list-group-item list-group-item-action"> كتب الاساطير</a>
                        <a href="#" class="list-group-item list-group-item-action"> الكتب التاريخية</a>

                    </div>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Read More ...</button>
                    <hr>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            المؤلفين
                        </a>
                        <a href="#" class="list-group-item list-group-item-action"> احمد مراد</a>
                        <a href="#" class="list-group-item list-group-item-action">شكسبير</a>
                        <a href="#" class="list-group-item list-group-item-action">احمد خالد توفيق</a>

                    </div>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Read More ...</button>
                    <hr>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            الكتب حسب اللغة
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">English</a>
                        <a href="#" class="list-group-item list-group-item-action">Arabic</a>
                        <a href="#" class="list-group-item list-group-item-action">Franch</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Hebrew</a>
                    </div>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Read More ...</button>
                    <hr>
                </div>
            </div>
            <!-- main container -->
            <div class="col-8">

                <div class="card text-center" style="">
                    <div class="card-header">
                        بنر اعلانى
                    </div>

                </div>
                <div style="text-align: center; margin-top: 25px; background-color:#DEDEDE; padding: 20px; padding-bottom: 40px;">
                    <h4>Search Results</h4>
                </div>
                <!-- search Results area-->
                <div style="text-align: center; margin-top: 25px; background-color:#DEDEDE; padding: 20px; padding-bottom: 40px;">
                    <h4>Search Results Area</h4>
                </div>
            </div>




            <!-- Advertisement -->
            <div class="col-sm">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                    <h3>Advertisement</h3>
                    <div class="card" style="width: 12rem; background-color: yellow;">

                        <div class="card-body">
                            <p class="card-text">اعلان.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem;background-color: yellow; ">

                        <div class="card-body">
                            <p class="card-text">اعلان.</p>
                        </div>
                    </div>

                    <hr>
                    <div class="card" style="width: 12rem; background-color: yellow;">

                        <div class="card-body">
                            <p class="card-text">اعلان.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem; background-color: yellow;">

                        <div class="card-body">
                            <p class="card-text">اعلان.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem; background-color: yellow;">

                        <div class="card-body">
                            <p class="card-text">
                                اعلان
                                .
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer  -->
    <div class="container-fluid" style="background-color: #333333;">
        <div class="row">
            <div class="col" style="text-align: center; padding: 7px;">
                <span style="color: white; font-size: 2rem;">S T A G E </span>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; padding: 10px; margin: 15px;">
            </div>
        </div>
        <div class="row">
            <div class="col" style="">
                <div class="row">
                    <img src="img/home.png" alt="Facebook" title="Facebook" width="30px" height="30px"
                         style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
                        Home <span class="sr-only">(current)</span>
                    </a>
                </div>
                <div class="row">
                    <img src="img/about-us.jpg" alt="Facebook" title="Facebook" width="30px" height="30px"
                         style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
                        About Stage
                        <span class="sr-only">(current)</span>
                    </a>
                </div>
                <div class="row">
                    <img src="img/services-icon-4.jpg" alt="Facebook" title="Facebook" width="30px" height="30px"
                         style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
                        Ouer Services
                        <span class="sr-only">(current)</span>
                    </a>
                </div>
                <div class="row">
                    <img src="img/community.png" alt="Facebook" title="Facebook" width="30px" height="30px"
                         style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
                        ouer message
                        <span class="sr-only">(current)</span>
                    </a>
                </div>
                <div class="row">
                    <img src="img/join.png" alt="Facebook" title="Facebook" width="30px" height="30px"
                         style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
                        Join us <span class="sr-only">(current)</span>
                    </a>
                </div>
            </div>

            <div class="col" style="text-align: center;">
                <div class="row">
                    <span style="color: white; font-size: 1.5rem; text-align: center;">Contact Us </span>
                </div>
                <div class="row">
                    <a class="nav-link" href="#" style="color:white;">
                        <img src="img/facebook.png" alt="Facebook" title="Facebook"
                             width="30px" height="30px"> <span class="sr-only">(current)</span>
                    </a>
                </div>
                <div class="row">
                    <a class="nav-link" href="#" style="color:white;">
                        <img src="img/twitter.jpg" alt="Facebook" title="Facebook"
                             width="33px" height="33px"> <span class="sr-only">(current)</span>
                    </a>
                </div>
                <div class="row">
                    <a class="nav-link" href="#" style="color:white;">
                        <img src="img/youtube.jpg" alt="Facebook" title="Facebook"
                             width="30px" height="30px"> <span class="sr-only">(current)</span>
                    </a>
                </div>
                <div class="row">
                    <a class="nav-link" href="#" style="color:white;">
                        <img src="img/Gmail.ico" alt="Facebook" title="Facebook"
                             width="30px" height="30px"> <span class="sr-only">(current)</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; padding: 7px;">
                <span style="color: white;">&copy; copy Right Stage 20222</span>
            </div>
        </div>
    </div>

    <!-- -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 6: Bootstrap Bundle with Popper -->
    <script src="js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>

