
@{
    ViewData["Title"] = "Book_Details";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="img/stage_logo.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">

</head>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="img/stage_logo.png" alt="language" width="30px" height="30px" style="margin-right: 10px;">
            <a class="navbar-brand" href="#">S T A G E</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#">Contact<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Policy<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">About Stage</a>
                            <a class="dropdown-item" href="#">Our message</a>
                            <a class="dropdown-item" href="#">Services</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"></a>
                            </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="img/lang.png" alt="language" width="25px" height="25px"> Lannguage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">العربية</a>
                            <a class="dropdown-item" href="#">English</a>
                            <a class="dropdown-item" href="#">German</a>
                            <a class="dropdown-item" href="#">Spanish</a>
                            <a class="dropdown-item" href="#">French</a>
                            <a class="dropdown-item" href="#">hindi</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"></a>
                            </div>
                    </li>

                </ul>

            </div>


            <form class="form-inline">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="margin-right: 10PX;">New Account</button>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
            </form>

        </nav>
    </div>

    <!-- slides -->
    <!--<div class="container" >
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="img/s1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/s2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/s3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/s4.jpg" alt="Third slide">
        </div>
      </div>
    </div>
    </div>
    </div>-->
    <!-- big budy -->
    <div class="container-fluid">



    </div>
    <!-- search section -->
    <!--

         <div style="text-align: center; margin-top: 25px;">
          <nav class="navbar navbar-light bg-light">

         </nav>-->


    <div class="container-fluid">
        <!-- نبذة مختصرة عن ستيج  -->


    </div>
    <!-- container -->
    <div class="container-fluid">
        <div class="row">
            <!--cat -->
            <div class="col-sm">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                    <h3>Category</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            Cras justo odio
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                    </div>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Read More ...</button>
                    <hr>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            Cras justo odio
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                    </div>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Read More ...</button>
                    <hr>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active">
                            Cras justo odio
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                    </div>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Read More ...</button>
                    <hr>
                </div>
            </div>
            <!-- main container -->
            <div class="col-8">

                <!-- عرض الكتاب المعنى  -->
                <br>
                <br>

                <div class="bookName">
                    <h3>Book Name : ..........................</h3>
                </div>


                <div class="bookName">
                    <h5>
                        Book Description <h5>
                            <p>des des des des des des des des des des des des des des des des des des des des </p>
                </div>
                <br>
                <div class="row" style="margin:30px auto;">
                    <div class="col-sm-3">
                        <img class="card-img-top" src="img/unknownbook.png" Card image cap>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> </h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> تصنيف الكتاب</li>
                            <li class="list-group-item">لغة الكتاب</li>
                            <li class="list-group-item"> المؤلف </li>
                            <li class="list-group-item">دار النشر </li>
                            <li class="list-group-item"> تاريخ الاصدار </li>
                            <li class="list-group-item"> رقم الاصدار </li>
                            <li class="list-group-item"> عدد صفحات الكتاب</li>
                            <li class="list-group-item">لغة الكتاب</li>
                            <li class="list-group-item"> مرات القراءة </li>
                            <li class="list-group-item">  التقيم </li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Read Book </a>
                            <a href="#" class="card-link">Save Book</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> </h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> ..............</li>
                            <li class="list-group-item"> ..............</li>
                            <li class="list-group-item"> .............. </li>
                            <li class="list-group-item"> .............. </li>
                            <li class="list-group-item"> ..............  </li>
                            <li class="list-group-item"> ..............  </li>
                            <li class="list-group-item"> ..............  </li>
                            <li class="list-group-item"> .............. </li>
                            <li class="list-group-item"> ..............  </li>
                            <li class="list-group-item"> .............. </li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link"> My Favourit  </a>
                            <a href="#" class="card-link">Reat Book </a>
                        </div>
                    </div>
                </div>
                <!--  نهاية عرض الكتاب المعنى  -->
                <div class="card text-center" style="background-color: yellow;">
                    <div class="card-header">
                        بنر اعلانى
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">اعلان</h5>
                        <p class="card-text"> </p>
                    </div>
                </div>
                <!-- عرض الكتب ذات الصلة  -->
                <br>
                <div class="bookName">
                    <h3>كتب ذات صلة</h3>
                </div>
                <br>
                <div class="row">
                    <div class="card bg-info" style="width: 18rem; margin: 15px;">
                        <img class="card-img-top" src="img/unknownbook.png" alt="Card image cap" style="margin:7px;">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link" style="color: #333333;">Read Book </a>
                            <a href="#" class="card-link" style="color: #333333;">Another link</a>
                        </div>
                    </div>

                    <div class="card bg-info" style="width: 18rem; margin: 15px;">
                        <img class="card-img-top" src="img/unknownbook.png" alt="Card image cap" style="margin:7px;">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link" style="color: #333333;">Read Book </a>
                            <a href="#" class="card-link" style="color: #333333;">Another link</a>
                        </div>
                    </div>

                    <div class="card bg-info" style="width: 18rem; margin: 15px;">
                        <img class="card-img-top" src="img/unknownbook.png" alt="Card image cap" style="margin:7px;">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link" style="color: #333333;">Read Book </a>
                            <a href="#" class="card-link" style="color: #333333;">Another link</a>
                        </div>
                    </div>

                    <div class="card bg-info" style="width: 18rem; margin: 15px;">
                        <img class="card-img-top" src="img/unknownbook.png" alt="Card image cap" style="margin:7px;">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link" style="color: #333333;">Read Book </a>
                            <a href="#" class="card-link" style="color: #333333;">Another link</a>
                        </div>
                    </div>
                </div>


                <!--نهاية عرض الكتب ذات الصلة  -->

            </div>

            <!-- Advertisement -->
            <div class="col-sm">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                    <h3>Advertisement</h3>
                    <div class="card" style="width: 12rem; background-color: yellow;">

                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem;background-color: yellow; ">

                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>

                    <hr>
                    <div class="card" style="width: 12rem; background-color: yellow;">

                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem; background-color: yellow;">

                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem; background-color: yellow;">

                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer  -->
    <div class="container-fluid" style="background-color: #333333;">
        <div class="row">
            <div class="col" style="text-align: center; padding: 7px;">
                <span style="color: white; font-size: 2rem;">S T A G E </span>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col" style="">
                <div class="row">
                    <img src="img/home.png" alt="Facebook" title="Facebook" width="30px" height="30px" style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">Home <span class="sr-only">(current)</span></a>
                </div>
                <div class="row">
                    <img src="img/about-us.jpg" alt="Facebook" title="Facebook" width="30px" height="30px" style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">About Stage <span class="sr-only">(current)</span></a>
                </div>
                <div class="row">
                    <img src="img/services-icon-4.jpg" alt="Facebook" title="Facebook" width="30px" height="30px" style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">Ouer Services <span class="sr-only">(current)</span></a>
                </div>
                <div class="row">
                    <img src="img/community.png" alt="Facebook" title="Facebook" width="30px" height="30px" style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">ouer message <span class="sr-only">(current)</span></a>
                </div>
                <div class="row">
                    <img src="img/join.png" alt="Facebook" title="Facebook" width="30px" height="30px" style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">Join us <span class="sr-only">(current)</span></a>
                </div>
            </div>

            <div class="col" style="text-align: center;">
                <div class="row">
                    <span style="color: white; font-size: 1.5rem; text-align: center;">Contact Us </span>
                </div>
                <div class="row">
                    <a class="nav-link" href="#" style="color:white;"><img src="img/facebook.png" alt="Facebook" title="Facebook" width="30px" height="30px"> <span class="sr-only">(current)</span></a>
                </div>
                <div class="row">
                    <a class="nav-link" href="#" style="color:white;"><img src="img/twitter.jpg" alt="Facebook" title="Facebook" width="33px" height="33px"> <span class="sr-only">(current)</span></a>
                </div>
                <div class="row">
                    <a class="nav-link" href="#" style="color:white;"><img src="img/youtube.jpg" alt="Facebook" title="Facebook" width="30px" height="30px"> <span class="sr-only">(current)</span></a>
                </div>
                <div class="row">
                    <a class="nav-link" href="#" style="color:white;"><img src="img/Gmail.ico" alt="Facebook" title="Facebook" width="30px" height="30px"> <span class="sr-only">(current)</span></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; padding: 7px;">
                <span style="color: white;">&copy; copy Right Stage 20222</span>
            </div>
        </div>
    </div>

    <!-- -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 6: Bootstrap Bundle with Popper -->
    <script src="js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>




