



@******************************************@
@model Stage_Books.Models.Author

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center"> حذف مؤلف</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.ImageURL)</th>
					    <td><img style="width:200px; height:200px;margin-left:20px" src="@Html.DisplayFor(author =>author.ImageURL)" /></td>

					</tr>
				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			    <form asp-action="Delete">
					<input type="hidden" asp-for="ID" />
					<input type="submit" value="Delete" class="btn btn-danger" /> |
					<a class="btn btn-success" asp-action="Index">Back to List</a>
				</form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>