@model Stage_Books.Models.Author

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
}

<div class="row">
	<div class="col-md-12">
		<form asp-action="Edit" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-3">
					<br />
					<div asp-validation-summary="All" class="text-danger mt-5"></div>
					<input type="hidden" asp-for="ID" />
					<input type="hidden" asp-for="ImageURL" />
				</div>
			</div>
			<main class="mt-5 pt-3">
				<div class="container-fluid">
					<br />
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-3">
							<div class="form-group">
								<label asp-for="Name" class="control-label"></label>
								<input asp-for="Name" class="form-control" />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-4"></div>
					</div>
					<br />
					<br />
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-3">
							<div class="form-group">
								<label asp-for="ImageURL" class="control-label"></label>
								<input type="file" class="form-control" name="imageFile" id="imageFile" accept=".png,.jpg" onchange="AddImage()" />
							</div>
						</div>
						<div class="col-md-4"></div>
					</div>
					<br />
					<br />
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-3 mb-3">
							<div class="input-group input-group-lg">
								<img width="200" height="200" src="@Html.DisplayFor(author =>author.ImageURL)" id="authorImage" />
							</div>
						</div>
						<div class="col-md-4"></div>
					</div>
					<br />
					<br />
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-3 mb-3">
							<div class="form-group">
								<input type="submit" value="Save" class="btn btn-primary" />
								<a class="btn btn-success" asp-action="Index">Back to List</a>
							</div>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
			</main>

		</form>
	</div>
</div>





@section Scripts {
	<script>
		function AddImage() {
			document.getElementById('authorImage').src = window.URL.createObjectURL(document.getElementById('imageFile').files[0])
		}
	</script>
	@{


		await Html.RenderPartialAsync("_ValidationScriptsPartial");


	}
			}
